.quote {
    position: fixed;
    bottom: 35px;    
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0.9;
}

.quote__text {
    font-size: 20px;
    margin-right: 25px;
}

.quote__author {
    font-size: 13px;
}