.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    opacity: 0.9;
}

.quote__text {
    font-size: 20px;
    margin-right: 25px;
}

.quote__author {
    font-size: 13px;
}