body {
    color: white;
    margin: auto;
    /* font-family:Arial, Helvetica, sans-serif; */
}

#bg-image {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.hidden {
    display: none;
}

#todo-form input {
    padding: 10px;
    font-size: 20px;
}

#weather {
    margin-top: 20px;
}