#clock {
    font-size: 160px;
    margin-bottom: 0;
}

#greeting {
    margin: 0;
    font-size: 50px;
}

.center-box {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form input {
    margin: 0;
    border: none;
    font-size: 30px;
    background: none;
    text-align: center;
    border-bottom: 3px solid white;
    padding-bottom: 12px;
    width: 300px;
}

.login-form input::placeholder {
    color: white;
}

.login-form input:focus {
    outline: none;
    color: white;
}

@media screen and (max-width : 700px) {
    #clock {
        font-size: 130px;
    }
    #greeting {
        font-size: 30px;
    }
}