#todo-form {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#todo-form span {
    margin-top: 50px;
    font-size: 35px;
    font-weight: 600;
    opacity: 80%;
}

#todo-form input {
    background: none;
    border: none;
    border-bottom: 3px solid rgba(253, 253, 254, 0.5);
    opacity: 80%;
    width: 440px;
    font-size: 30px;
}

#todo-form input:focus {
    color: white;
    text-align: center;
    outline: none;
}

/* .todo-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.hidden {
    display: none;
}

#todo-form .answer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 7px;
    font-size: 40px;
    color: thistle;
}   

#todo-form .answer button {
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
    font-size: 25px;
    color: white;
    margin-left: 15px;
    margin-top: 5px;
    cursor: pointer;
    width: 35px;
    height: 32px;
}

@media screen and (max-width : 700px) {
    #todo-form span {
    margin-top: 0px;
    font-size: 25px;
    }
    #todo-form input {
    font-size: 27px;
    width: 320px;
    margin-top: 10px;
    }
}
