#todo-form {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#todo-form span {
    margin-top: 50px;
    font-size: 35px;
    font-weight: 600;
    opacity: 80%;
}

#todo-form input {
    background: none;
    border: none;
    border-bottom: 3px solid white;
    opacity: 80%;
    width: 450px;
    font-size: 30px;
}

#todo-form input:focus {
    color: white;
    text-align: center;
    outline: none;
}

.todo-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

